.caja__contacto {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border: 3px $color-light solid;
    border-radius: 3px;
    margin-bottom: 2rem;
    @include transitionEaseOut;
    &:hover {
        border-color: $color-enfasis;
    }
    p.headline-subtexto {
        margin-bottom: .5rem;
        @include tablet {
            margin-right: .5rem;
            margin-bottom: 0;
        }
    }
    @include tablet {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2.5rem;
        font-size: 1.5rem;
    }
}