.seccion-galeria-trabajos {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin-bottom: 5rem;
    @include tablet {
        grid-template-columns: repeat(2, 1fr);
    }
    @include grande {
        grid-template-columns: repeat(3, 1fr);
    }
}

.galeria {
    &__img {
        display: block;
        max-width: 100%;
        margin-bottom: .3rem;
        border: 3px solid $color-light;
        &:hover {
            opacity: .5;
            border-color: $color-enfasis;
            @include transitionEaseOut;
        }
    }
    &__boton {
        display: block;
        padding: 0.7rem 1rem;
        border: 0;
        border-radius: 3px;
        margin-bottom: 0.3rem;
        background-color: darken($color-primario, 50);
        color: #fff;
        text-decoration: none;
        font-size: .9rem;
        font-weight: 600;
        &:hover {
            background-color: $color-enfasis;
            color: darken($color-primario, 9);
            @include transitionEaseOut;
        }
    }
}