.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    background-color: rgba($color-light, .1);
}

.logo-branding {
    max-width: rem(50px);
}

.boton-menu {
    @include transitionEaseOut;
    cursor: pointer;
    &.cerrar {
        transform: rotate(180deg);
        .boton-menu-linea {
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
    &-linea {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background-color: $color-light;
        @include transitionEaseOut;
    }
}