body {
    @include background;
    background-color: $color-primario;
    color: $color-light;
    font-family: $fuente-principal;
}

h1,
h2,
h3 {
    font-weight: 400;
}

.texto-destacado {
    line-height: 1.5;
    margin-bottom: 1rem;
    text-align: left;
}

.headline-nivel-3-pagina {
    margin-bottom: 1rem;
    font-variant: small-caps;
    font-weight: 600;
    font-size: 1.3rem;
    color: $color-enfasis;
}

.headline-subtexto {
    color: $color-enfasis;
}

.link-destacado {
    display: block;
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-enlaces;
    @include transitionEaseOut;
    &:hover {
        color: $color-light;
    }
}