.main {
    max-width: $bk-grande;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include tablet {
        padding-left: 2rem;
        text-align: left;
        height: 50vh;
        align-items: flex-start;
    }
    @include grande {
        padding-left: 0;
    }
}

.main--about {
    @include tablet {
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 5rem;
    }
}

.main--trabajos,
.main--contacto {
    height: 100%;
}

.main--contacto {
    @include tablet {
        align-items: center;
    }
}

.headline-pagina {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    @include tablet {
        margin-bottom: 1.5rem;
        font-size: 6rem;
    }
}

.headline-nivel-2-pagina {
    margin-bottom: 2rem;
    font-size: 1.25rem;
    @include tablet {
        margin-bottom: 3rem;
        font-size: 2rem;
    }
}

.social-icons {
    a {
        margin-right: 1rem;
        color: $color-light;
        &:hover {
            color: $color-enfasis;
            @include transitionEaseOut;
        }
    }
}

.retrato-curriculo {
    @include tablet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.retrato {
    max-width: rem(150px);
    border-radius: 50%;
    border: solid 3px $color-enfasis;
    margin-bottom: 2rem;
}

.perfil {
    &__lista {
        text-align: left;
        padding-left: 1.5rem;
        list-style: circle;
    }
    &__item {
        margin-bottom: 1rem;
    }
}