.navegacion {
    visibility: hidden;
    &.mostrar {
        visibility: visible;
    }
    &__lista {
        transform: translate3d(-100%, 0, 0);
        @include transitionEaseOut;
        text-align: center;
        list-style: none;
        &.mostrar {
            transform: translate3d(0, 0, 0)
        }
    }
    &__item {
        background-color: darken($color-primario, 7);
        padding: .5rem 0;
        border-bottom: 2px solid rgba($color-light, .05);
        @include transitionEaseOut;
        &:hover {
            background-color: darken($color-primario, 5);
        }
    }
    &__link {
        display: block;
        color: $color-light;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
        @include transitionEaseOut;
        &:hover {
            color: $color-enfasis;
        }
    }
}

.active {
    color: $color-enfasis;
}