$color-primario: #444;
$color-enfasis: #eece1a;
$color-light: #fff;
$color-enlaces: #f7a50f;
$fuente-principal: 'Noto Sans', sans-serif;
$bk-tablet: 768px;
$bk-grande: 1200px;
$opacidad-bg: .9;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$z-index-bg: -10;