block config 
    include ../config/config

include ../mixins/mixins

doctype html
html(lang="es")
    head
        include ../includes/head
    body
        block header
            include ../includes/header
        block navegacion
            include ../includes/navegacion
        block main
        script(src="js/script.min.js")