meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
meta(name="description" content=descripcion)
title #{nombreSite} || #{nombrePagina}
link(rel="shortcut icon" href="img/favicon.png" type="image/x-icon")
link(href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet")
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
link(rel="stylesheet" href="css/estilos.min.css")