header.header
    a(href="index.html")
        img.logo-branding(src="img/logo-branding.png" alt="Sergio diez de Pedro")
    .boton-menu
        .boton-menu-linea
        .boton-menu-linea
        .boton-menu-linea