- let menuLinks = ['index', 'acerca', 'trabajos', 'contacto']
- let menuItems = ['Home', 'Acerca', 'Trabajos', 'Contacto']

nav.navegacion
    ul.navegacion__lista
        - for (n = 0; n < menuItems.length; n++ )
            li.navegacion__item
                if nombrePagina == menuItems[n]
                    a.navegacion__link.active(href=`${menuLinks[n]}.html`)= menuItems[n]
                else 
                    a.navegacion__link(href=`${menuLinks[n]}.html`)= menuItems[n]