@mixin background {
    @if $show-home-image {
        &.bg-img {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: $z-index-bg;
                background: rgba($color-primario, $opacidad-bg);
            }
        }
    }
}

;
@mixin tablet {
    @media screen and (min-width: $bk-tablet) {
        @content
    }
}

;
@mixin grande {
    @media screen and (min-width: $bk-grande) {
        @content
    }
}

;
@mixin transitionEaseOut {
    transition: all 0.5s ease-out;
}