extends templates/template

append config
    - nombrePagina = 'Acerca'

 

block main
    main.main.main--about
        section.seccion-about
            h1.headline-pagina ¿Quién
                span.headline-subtexto  soy?
            h2.headline-nivel-2-pagina Una breve presentación...
            p.texto-destacado Llevo años haciendo del detalle, del gusto por el trabajo bien hecho, del presentar contenidos atractivos mi profesión y, por qué no, una forma de ver y entender el mundo.
            p.texto-destacado ¿Pretencioso? No lo creo.
            p.texto-destacado Soy perro veterano que sigue aprendiendo trucos nuevos. No me asusta lo desconocido. Denme un poco de tiempo y un manual y encontraré la ruta del tesoro.
        section.seccion-perfil
            .retrato-curriculo
                img.retrato(src="img/retrato.jpg" alt="Sergio Díez de Pedro")
                a.link-destacado(href="https://sdp-curriculo.netlify.com/") Currículo
            h3.headline-nivel-3-pagina Perfil
            ul.perfil__lista
                - let items = ['Diseño off y online: infografías, presentaciones, logos, gráficos vectoriales, rasterizados y retoque fotográfico','Artesanía web, desde la conceptualización del Look and Feel, pasando por el boceto, y el desarrollo completo hasta entrega a cliente', 'Dominio de HTML y CSS. Integración de funcionalidades JavaScript y jQuery', 'Uso de preprocesadores CSS. Motor de plantillas HTML con Pug', 'Nuevas funcionalidades de los estándares web (flexbox, grid, transiciones, animaciones, SVG...). Desarrollo con frameworks CSS (Bootstrap, Foundation)', 'Instalación y personalización de CMS (Wordpress, Drupal)', 'Usuario avanzado de bases de datos relacionales', 'Control de versiones con Git', 'Empaquetadores y gestores de tareas (Gulp, Webpack, Parcel)']
                    each item in items
                        li.perfil__item #{item}
            p.texto-destacado.headline-subtexto Y, naturalmente, pienso responsive, desde la lógica
                |
                em  mobile first.




