extends templates/template

append config
    - nombrePagina = 'Contacto'

block main
    main.main.main--contacto
        section.seccion-cabecera-contacto
            h1.headline-pagina.headline-subtexto Contacto
            h2.headline-nivel-2-pagina Formas de ponerse en contacto conmigo...
        section.seccion-cajas-contacto
            .caja__contacto
                p.headline-subtexto Correo:
                p.datos-contacto sergio.d.depedro@gmail.com
            .caja__contacto
                p.headline-subtexto Teléfono:
                p.datos-contacto 637 804 779
            .caja__contacto
                p.headline-subtexto Dirección:
                p.datos-contacto Av. Castilla, 2. 28280 El Escorial (Madrid) 



