extends templates/template-index

append config
    - nombrePagina = 'Home'

block main
    main.main.main--home
        h1.headline-pagina Sergio
            span.headline-subtexto  Díez de Pedro
        h2.headline-nivel-2-pagina Design, Web Design, Desarrollo Front-End, eLearning Pro
        .social-icons
            a(href="https://sdp-curriculo.netlify.com/")
                i.fas.fa-file-invoice.fa-2x
            a(href="https://www.linkedin.com/in/sergiodiezdepedro/")
                i.fab.fa-linkedin.fa-2x
            a(href="https://github.com/sergiodiezdepedro")
                i.fab.fa-github-square.fa-2x
            a(href="https://gitlab.com/sergiodiezdepedro")
                i.fab.fa-gitlab.fa-2x
            a(href="http://codepen.io/sergiodiezdepedro/")
                i.fab.fa-codepen.fa-2x
