extends templates/template

append config
    - nombrePagina = 'Trabajos'

block main
    main.main.main--trabajos
        section.seccion-cabecera-trabajos
            h1.headline-pagina.headline-subtexto Trabajos
            h2.headline-nivel-2-pagina Una muestra de algunos de mis trabajos, que se pueden visitar online
        section.seccion-galeria-trabajos
            +itemGaleria('https://taste-the-fish.000webhostapp.com/', 'proyecto-1', 'Portfolio con Modal')
            +itemGaleria('https://taste-the-fish.000webhostapp.com/menu-lateral/', 'proyecto-2', 'Menú lateral')
            +itemGaleria('https://taste-the-fish.000webhostapp.com/fotografo/', 'proyecto-3', 'Portfolio fotógrafo')
            +itemGaleria('https://taste-the-fish.000webhostapp.com/bootstrap1/', 'proyecto-4', 'One Page Bootstrap')
            +itemGaleria('https://taste-the-fish.000webhostapp.com/elearning/', 'proyecto-5', 'Propuesta eLearning')
            +itemGaleria('https://taste-the-fish.000webhostapp.com/bootstrap2/', 'proyecto-6', 'Corporativo One Page')
            +itemGaleria('https://taste-the-fish.000webhostapp.com/viajes/', 'proyecto-7', 'Agencia de viajes')
            +itemGaleria('https://taste-the-fish.000webhostapp.com/screen/', 'proyecto-9', 'Screen Stars')
            +itemGaleria('https://taste-the-fish.000webhostapp.com/medieval/', 'proyecto-10', 'Go Medieval')
            



