mixin itemGaleria(url, urlImagen, nombreItem)
    .item__contenedor
        a.galeria__link(href= url)
            img.galeria__img(src=`img/${urlImagen}.jpg` alt=`${nombreItem}`)
        a.galeria__boton(href= url) #{nombreItem}